{% extends "layout.html" %} {% block content %}

<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Web Version can be changed in app/app.py variable WEB_VERSION = "x.x.x"-->

<link
  rel="stylesheet"
  href="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/{{ web_version }}/adyen.css"
  crossorigin="anonymous"
/>

<script
  src="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/{{ web_version }}/adyen.js"
  crossorigin="anonymous"
></script>

<div id="payment-page">
  <div class="container">
    <div class="payment-container" id="jwe-form">
      <div class="payment">
        <div class="form-group">
          <label for="card-number">Card Number</label>
          <input
            type="text"
            id="card-number"
            class="form-control"
            placeholder="4111111111111111"
            value="4111111111111111"
          />
        </div>
        <div class="form-group">
          <label for="expiry-month">Expiry Month</label>
          <input
            type="text"
            id="expiry-month"
            class="form-control"
            placeholder="03"
            value="03"
          />
        </div>
        <div class="form-group">
          <label for="expiry-year">Expiry Year</label>
          <input
            type="text"
            id="expiry-year"
            class="form-control"
            placeholder="2030"
            value="2030"
          />
        </div>
        <div class="form-group">
          <label for="cvc">CVC</label>
          <input
            type="text"
            id="cvc"
            class="form-control"
            placeholder="737"
            value="737"
          />
        </div>
        <div class="form-group">
          <label for="holderName">Holder Name</label>
          <input
            type="text"
            id="holderName"
            class="form-control"
            placeholder="John Doe"
          />
        </div>
        <button id="encrypt-button" class="button">Encrypt</button>
      </div>
    </div>
  </div>
</div>

<style>
  .form-group {
    margin-bottom: 15px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jose/5.2.3/index.umd.min.js"
  crossorigin="anonymous"
></script>
<script src="{{ url_for('static', filename='js/advanced/jwe.js') }}"></script>
{% endblock %}
